<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
</head>
<body>
    <center><h1>Welcome to my website</h1></center>
    <center><h2>My first Django project</h2></center>
    <center><h3>Click Below the button to login to admin</h3></center>
    <center><button style="background-color: blue; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
        <a href="/admin/" style="color: white; text-decoration: none;">Go to Admin</a></button></center>
    <center><h3>Click here to user login</h3></center>
    <center><button style="background-color: green; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
        <a href="/login/" style="color: white; text-decoration: none;">User Login</a></button></center>

</body>
</html>